:root {
  --text-color: #f0f4f5;
  --bacground-color: #263343;
  --accent-color: #d49466;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
}
a {
  text-decoration: none;
  /* color: white;  */
  /* 기본적으로 위 처럼 지정하지만 css에서 변수에 textcolor를 담아 변수명으로 사용도 가능하다! */
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px;
}

.navbar_logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar_logo i {
  color: #d49466;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  /* margin이 아닌 padding을 넣는 이유 : 패딩은 영역이 박스로 되어있기에 클릭 시 영역이 좀 더 크고, margin의 경우 그 영역이 더 좁다.  */
}

.navbar_icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toogleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
